/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


/* .heroBanner {
  padding: 1rem 0;
  text-align: left;
  position: relative; 
  overflow: hidden; 
  display: flex;
  justify-content: space-between;
  
} */


/* @media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
} */

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}
@media screen and (max-width: 996px) {
 
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
}