/* Add keyframes for animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* Apply fade-in animation to the features container */
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  animation: fadeIn 1s ease-in-out; /* Animation for fading in */
}

/* Apply scale-up animation to the featureSvg */
.featureSvg {
  height: 200px;
  width: 200px;
<<<<<<< HEAD
=======
  animation: scaleUp 0.6s ease-out; /* Animation for scaling up */
>>>>>>> fa8d8fc (feat : welcome page redesign)
}
