/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: left;
}
.purple-text {
  color: rebeccapurple;
}
/* styles.module.css */
.customContainer {
  background-color:#1E201E;
  /* Other styles as needed */
}

/* styles.module.css */
.heroTitleLarge {
  font-size: 20rem; /* Adjust the size as needed */
  font-weight: bold;
   /* Optional: Adjust font weight */
  /* Add any other styles as needed */
}

/* styles.module.css */
.heroSubtitleStyled {
  font-size: 3rem; /* Increase the size */
  padding: 20px 0;
   /* Add padding (adjust as needed) */
  /* Add any other styles as needed */
}
