/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


/* .heroBanner {
  padding: 1rem 0;
  text-align: left;
  position: relative; 
  overflow: hidden; 
  display: flex;
  justify-content: space-between;
  
} */


/* @media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
} */

.buttons {
  
  display: flex;
  align-items: left;
  justify-content: left;
}
@media screen and (max-width: 996px) {
 
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
}

/* Define keyframes for animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start 20px below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the original position */
  }
}

/* Apply styles to the unordered list */
.hero__subtitle ul {
  list-style-type: disc; /* You can choose different list styles */
  padding-left: 20px; /* Adjust as needed */
}

/* Apply styles to the list items */
.hero__subtitle li {
  padding-left: 20px;
  margin-bottom: 10px; /* Space between items */
  opacity: 0; /* Start invisible */
  animation: fadeInUp 0.6s ease-out forwards; /* Apply animation */
}

/* Add delay for each list item to make them animate sequentially */
.hero__subtitle li:nth-child(1) {
  animation-delay: 0s;
}

.hero__subtitle li:nth-child(2) {
  animation-delay: 0.2s;
}

.hero__subtitle li:nth-child(3) {
  animation-delay: 0.4s;
}

.heading-padding {
  padding-top: 200px; /* Adds 15px padding to the top */
  padding-right: 100px; /* Adds 10px padding to the right */
  padding-bottom: 5px; /* Adds 15px padding to the bottom */
  padding-left: 10px; /* Adds 10px padding to the left */
}